<!doctype html>
<html lang="fa">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Sharif Hospital</a>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link{% if active == 0 %} active{% endif %}" href="{{ "#" if active == 0 else "/" }}">
                  Dashboard
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link{% if active == 1 %} active{% endif %}" href="{{ "#" if active == 1 else "/physicians" }}">
                  Physicians
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link{% if active == 2 %} active{% endif %}" href="{{ "#" if active == 2 else "/patients" }}">
                  Patients
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link{% if active == 3 %} active{% endif %}" href="{{ "#" if active == 3 else "/nurses" }}">
                  Nurses
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link{% if active == 4 %} active{% endif %}" href="{{ "#" if active == 4 else "/employees" }}">
                  Employees
                </a>
              </li>
                <li class="nav-item">
                <a class="nav-link{% if active == 5 %} active{% endif %}" href="{{ "#" if active == 5 else "/reports" }}">
                  Reports
                </a>
              </li>
                <li class="nav-item">
                <a class="nav-link{% if active == 6 %} active{% endif %}" href="{{ "#" if active == 6 else "/reports/inspector" }}">
                  Inspector Reports
                </a>
              </li>
                <li class="nav-item">
                <a class="nav-link{% if active == 7 %} active{% endif %}" href="{{ "#" if active == 7 else "/reports/manager" }}">
                  Manager Reports
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          {% block content %} {% endblock %}
        </main>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.slim.min.js') }}" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" crossorigin="anonymous"></script>
  </body>
</html>

{% macro section_field(value) %}
    <label for="section">Section</label>
    <select name="section" id="section" class="form-control">
        <option value="general" {% if value == 'general' %}selected{% endif %}>General</option>
        <option value="speciality" {% if value == 'speciality' %}selected{% endif %}>Speciality</option>
        <option value="super_speciality {% if value == 'super_speciality' %}selected{% endif %}">Super Speciality</option>
        <option value="emergency" {% if value == 'emergency' %}selected{% endif %}>Emergency</option>
        <option value="financial" {% if value == 'financial' %}selected{% endif %}>Financial</option>
        <option value="administrative" {% if value == 'administrative' %}selected{% endif %}>Administrative</option>
        <option value="medical" {% if value == 'medical' %}selected{% endif %}>Medical</option>
        <option value="hospital" {% if value == 'hospital' %}selected{% endif %}>Hospital</option>
    </select>
{% endmacro %}

{% macro gender_field(value) %}
      <label for="gender">Gender</label>
      <select name="gender" id="gender" class="form-control">
        <option value="M" {% if value == 'M' %}selected{% endif %}>Male</option>
        <option value="F" {% if value == 'F' %}selected{% endif %}>Female</option>
      </select>
{% endmacro %}

{% macro married_field(value) %}
  <label for="marital_status">Marital Status</label>
  <select name="married" id="marital_status" class="form-control">
    <option value="true" {% if value %}selected="selected"{% endif %}>Married</option>
    <option value="false" {% if not value %}selected="selected"{% endif %}>Single</option>
  </select>
{% endmacro %}