{% extends 'base.html' %}
{% set title = 'Create Nurse' %}
{% from 'base.html' import section_field, gender_field, married_field %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Create Nurse</h1>
    </div>
    {% if error %}
        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>
    {% endif %}

    <form action="/nurses/create" method="post">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="id">id</label>
          <input name="personnel_id" class="form-control" id="id" placeholder="id">
        </div>
        <div class="form-group col-md-4">
          <label for="first-name">First Name</label>
          <input name="first_name" class="form-control" id="first-name" placeholder="First Name">
        </div>
          <div class="form-group col-md-4">
          <label for="last-name">Last Name</label>
          <input name="last_name" class="form-control" id="last-name" placeholder="Last Name">
        </div>
      </div>
        <div class="form-row">
        <div class="form-group col-md-4">
          <label for="national-code">National Code</label>
          <input name="national_code" class="form-control" id="national-code" placeholder="National Code">
        </div>
            <div class="form-group col-md-4">
            {{ section_field('general') }}
        </div>
        <div class="form-group col-md-4">
          <label for="employment_date">Employment Date</label>
          <input type="date" name="employment_date" class="form-control" id="employment_date" placeholder="Employment Date">
        </div>
      </div>
      <div class="form-row">
          <div class="form-group col-md-4">
          <label for="age">Age</label>
          <input type="number" name="age" class="form-control" id="age" placeholder="Age">
        </div>
          <div class="form-group col-md-4">
          {{ gender_field('M') }}
        </div>
        <div class="form-group col-md-4">
          <label for="salary">Salary</label>
          <input type="number" name="salary" class="form-control" id="salary" placeholder="Salary">
        </div>
      </div>
        <div class="form-row">
          <div class="form-group col-md-4">
          {{ married_field(False) }}
        </div>
      </div>
      <button type="submit" class="btn btn-primary bg-dark">Create</button>
    </form>
{% endblock %}